{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "script",
        "ecmaFeatures": {
            "jsx": false,
            "experimentalObjectRestSpread": false
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "no-undef": ["warn"],
        "no-unused-vars": ["warn"]
    }
}